/* --- Math ---------------------------------------------------------------- */
span.formula,
div.formula {
    color: #955;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

/* --- Code ---------------------------------------------------------------- */
.proto {
    display: inline-block;
    background-color: #f5f5ff;
    font-size:   90%;
    font-weight: normal;
    font-family: 'Source Code Pro';
    padding: 0px 8px;
    margin-top: 2px;
    border-radius: 3px;
    border: 1px solid #c0c0ff;
}

code {
    font-size:   90%;
    font-weight: 500;
    font-family: 'Source Code Pro';
}

pre.code {
    display:        block;
    font-size:      90%;
    font-family:    'Source Code Pro', monospace;
    font-weight:    400;
    line-height:    125%;
    padding-left:   2.0em;
    padding-top:    0.5em;
    padding-bottom: 0.5em;
    overflow-x:     auto;
}
pre.code {
    background:     #fcfcfc;
    border-top:     .5px solid #ccc;
    border-bottom:  .5px solid #ccc;

    line-height:   1.35em;
    font-size:     75%;
    border-radius: 5.0px;
    border:        0.5px solid #ccc;
}


pre.neutral {
    background: none;
    border: none;
}

pre.output:before {
    display: block;
    color: #ccc;
    font-weight: bold;
    content: "OUTPUT";
    float: right;
    margin-right: 1em;
}
pre.output {
    background-color: #f9f9f9;
}


pre.math:before {
    display: block;
    color: #ccc;
    font-weight: bold;
    content: "MATH";
    float: right;
    margin-right: 1em;
}
pre.math {
    background-color: #f9f9f9;
}


pre.glsl:before {
    display: block;
    color: #ccf;
    font-weight: bold;
    content: "GLSL";
    float: right;
    margin-right: 1em;
}
pre.glsl {
    background-color: #f9f9ff;
}

pre.python:before {
    display: block;
    color: #dd9;
    font-weight: bold;
    content: "PYTHON";
    float: right;
    margin-right: 1em;
}
pre.python {
    background-color: #fffff9;
}



.function, .class {
    font-weight: 400;
}
.comment, .string {
    color: #459;
}
