.sidebar-title {
    margin: 0;
    padding: 0;
    padding: 1em 1em;
}

.sidebar-title a,
.sidebar-title a:visited {
    color: #000;
    font-variant: small-caps;
    font-weight: 700;
}

.sidebar-title a:hover {
    text-decoration: none;
    border: 0;
}

.sidebar .small,
.sidebar .subtitle {
    display: block;
    font-size: 75%;
    margin-top: -0.5em;
}

.sidebar .subtitle {
    font-variant: small-caps;
    font-weight: 500;
}


.sidebar ul {
    margin: 0;
    padding: 0;
}

.sidebar li ul {
    margin-bottom: 0.5em;
}

.sidebar li {
    font-weight: 500;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.sidebar li li {
    line-height: 1.25em;
    margin: 0;
    font-size: 90%;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
}

.sidebar li p {
    margin: 0;
    padding: 0;
}
.sidebar li a {
    color: #000;
    padding-left: 20px;
    display: block;
    text-decoration: none;
    padding-bottom: .25em;
    padding-top: .25em;
    padding-left: 1em;
}

.sidebar li li a {
    padding-left: 20px;
    display: block;
    text-decoration: none;
    padding-bottom: 0em;
    padding-top: 0em;
    padding-left: 2em;
}

.sidebar li a:hover,
.sidebar li a:active,
.sidebar li a:focus,
.sidebar li a:target {
    display: block;
    border: 0;
    text-decoration: none;
    background-color: #f9f9f9;
}
